*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #202040;
}
.h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem .3rem;


}
.title{
    color: #ff6363;
    font-weight: 500;
    font-size: 120px;
}
.inputDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:500px;

}
.input{
padding: .5rem 1rem;
outline: none;
height: 50px;
border-radius: 10px;
width: 320px;
margin: .4rem;
font-size: 1.15rem;
}
.input:hover{
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
background-color: whitesmoke;
}
.add{
    outline: none;
    border: none;
    border-radius: 10px;
    height: 48px;
    cursor: pointer;
    width: 48px;
    background-color: rgb(13, 97, 58);;
    color: white;
}
.add:hover{
    background-color: rgb(21, 204, 174);
    color: gold;
}
.container{
    text-align: center;
    margin-top: 2rem;
    width: 370px;   
    border: 2px solid rosybrown;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    
    
    
}
.item_input{
    background: #ddf9fc;
    outline: none;
    border: 3px solid #f5e2fd;
    border-radius: 10px;
    padding: 10px;
    
    color: black;
    
    font-size: 20px;
    margin-bottom: 10px;
    
}
.remove{
    background: none;
    outline: none;
    border: none;
    color: #cc1717;
    font-size: 2rem;
    margin-left: 10px;
    cursor: pointer;
    
    
}
.remove_btn{
    height: 55px;
    width: 150px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff6363;
    margin-top: 35px;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 15px;
    transition: all .4s ease 0s;
    display: inline-block;
    cursor: pointer;

}
.remove_btn:hover{
    background: #b31e1e;
    letter-spacing: 1px;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}

.item{
    display: flex;
}
